{% extends "MkkSiteBundle:Templates:screen.html.twig" %}
{% from "MkkSiteBundle:Blocks:screen.html.twig" import flashbag,
logo %}
{% block body %}
	{{ parent() }}
	{% if param['login_videobackground']is defined and param['login_videobackground'] != "" %}
		{% set mute = "true" %}
		{% if param['login_ideobackgroundmute']is defined %}
			{% set mute = param['login_ideobackgroundmute'] %}
		{% endif %}
		<a class="player" data-property="{videoURL: '{{ param['login_videobackground'] }}', containment:'body', autoPlay:true, mute:{{ mute }}, startAt:0, opacity:1, ratio:'4/3', addRaster:true, showControls:true}">My video</a>
	{% endif %}
	<section>
		{{ logo(param) }}
		{{ flashbag(app) }}
		<div id="DivFormulaireLogin" class="page-login{% if param[" image_logo"] is defined and param[" image_logo"] != " " %} page-login-logo{% endif %}">
			<h1>
				{% if param['login_titre']is defined and param['login_titre'] != "" %}
					{{ param['login_titre']|raw }}
				{% else %}
					Connexion
				{% endif %}
				<br/>
				{% if param['login_soustitre']is defined and param['login_soustitre'] != "" %}
					<span>{{ param['login_soustitre']|raw }}</span><br/>
				{% endif %}
			</h1>
			{{ form_start( formLogin, { 'action': path("fos_user_security_check"), 'attr': { 'id': 'formLogin', 'role': 'form', 'class': 'form-horizontal' } } )}}
			{{ form_row(formLogin._username) }}
			{{ form_row(formLogin._password) }}
			{{ form_widget(formLogin._remember_me) }}
			{{ form_widget(formLogin.submit) }}
			{{ form_end(formLogin) }}
			<a href="{{ path('scripts.forgot') }}">J'ai perdu mon mot de passe</a>
		</div>
	</section>
{% endblock %}
