{% extends "MkkAdminBundle:Param:layout.html.twig" %}
{% block body_content %}
	{{ form_start(form) }}
	<fieldset>
		<legend>Affichage des listes</legend>
		<div class="row">
			<div class="col-md-6 col-sm-6">
				<fieldset>
					<legend>Par défaut</legend>
					{{ form_row(form.longueurliste) }}
					{{ form_row(form.publicliste) }}
				</fieldset>
			</div>
			<div class="col-md-6 col-sm-6">
				{{ form_widget(form.module_listing) }}
			</div>
		</div>
	</fieldset>
	{{ form_end(form) }}
{% endblock %}
