<div class="row">
	<div class="col-md-6">
		<fieldset>
			<legend>Coordonnées</legend>
			{{ form_row(form.civilite) }}
			{{ form_row(form.nom) }}
			{{ form_row(form.prenom) }}
		</fieldset>
		{{ form_row(form.fileavatar) }}
	</div>
	<div class="col-md-6">
		<fieldset>
			<legend>Compte</legend>
			{{ form_row(form.username) }}
			{{ form_row(form.plainPassword) }}
			{{ form_row(form.group) }}
			{{ form_row(form.pays) }}
			{{ form_row(form.langue) }}
			{{ form_row(form.enabled) }}
			{{ form_row(form.tabetablissements) }}
		</fieldset>
	</div>
</div>
